



<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card-container">
    <div class="card card-medium">

      <span>{{ title }} app is running!</span>
  
    </div>
  </div>
  
  <router-outlet></router-outlet>
  

</div>


