<div class="cool-input-container card">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" [formControl]="text" placeholder="text...">
            <div class="cool-input-search-results"> 

            </div>

        </div>
    </form>
      
</div>
