<div class="user-form-container card">
    <h4>
        User Form
    </h4>
    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
            <small *ngIf="!userForm.controls['name'].valid"  class="form-text text-muted">
                <ng-template [ngIf]="userForm.controls['name'].dirty">
                    <span *ngIf="userForm.controls['name'].errors.required"> 
                        Name is required
                    </span>
                    <span *ngIf="userForm.controls['name'].errors.minlength"> 
                        Name must have more than 3 chrs
                    </span>
                    <span *ngIf="userForm.controls['name'].errors.maxlength"> 
                        Name must have less than 50 chrs
                    </span>
                </ng-template>
            </small>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" formControlName="age" placeholder="Age">
            <small *ngIf="!userForm.controls['age'].valid"  class="form-text text-muted">
                <ng-template [ngIf]="userForm.controls['age'].dirty">
                    <span *ngIf="userForm.controls['age'].errors.required"> 
                        Age is required
                    </span>
                </ng-template>
            </small>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
            <small *ngIf="!userForm.controls['email'].valid"  class="form-text text-muted">
                <ng-template [ngIf]="userForm.controls['email'].dirty">
                    <span *ngIf="userForm.controls['email'].errors.email"> 
                        Email format required
                    </span>
                </ng-template>
            </small>
        </div>
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
    </form>
      
</div>
