<div class="users-list-container card">
    <h4>
        User list
    </h4>
    <ul class="users-list">
        <ng-template [ngIf]="users.length" [ngIfElse]="noUsers">
            <li *ngFor="let user of users" class="user mb-2">{{user.name}}</li>
        </ng-template>
        <ng-template #noUsers>
            <li class="no-user">No users!</li>
        </ng-template>
      </ul>
</div>
