.users-list-container {
    box-sizing: border-box;
    min-height: 500px;
    padding: 15px;
    text-align: center;
    .users-list {
        list-style: none;
        padding: 10px 0;
        .user {
            border: 1px solid gray;
            padding: 4px;
        }
        .no-user {
            border: 1px solid rgb(201, 201, 201);
            padding: 4px;
        }
    }
}