<div class="users-container">
    <div class="row mb-4">
        <div class="col-12">
            <app-cool-input></app-cool-input>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-user-from (onSubmit)="addUser($event)"></app-user-from>
        </div>
        <div class="col-6">
            <app-users-list [users]="users"></app-users-list>
        </div>
    </div>
</div>
